name: Laravel

on: [push]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    env:
      DB_DATABASE: ecommapi
      DB_USERNAME: root
      DB_PASSWORD: root
      BROADCAST_DRIVER: log
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: false
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: ecommapi
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        php-versions: ['7.2', '7.3', '7.4']
    steps:
    - name: Setup PHP, with composer and extensions
      uses: actions/checkout@v1
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Init Database
      run: 
        mysql -uroot -h127.0.0.1 -proot -e 'CREATE DATABASE IF NOT EXISTS ecommapi;'
    - name: Prepare the application
      run: |
        php -r "file_exists('.env') || copy('.env.example', '.env');"
        php artisan key:generate
    - name: Clear Config
      run: php artisan config:clear
    - name: Run Migration
      run: php artisan migrate -v
      env:
        DB_PORT: ${{ job.services.mysql.ports['3306'] }}
    - name: Test with phpunit
      run: vendor/bin/phpunit --coverage-text
      env:
        DB_PORT: ${{ job.services.mysql.ports['3306'] }}
